

h1 {
  color: red;
  font-size: 50px;
  filter: drop-shadow(1px 1px 1px black);
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png");
  background-size: 1920px 1080px;
}


img {
  filter: drop-shadow(1px 1px 1px black);
}


p {
  font-size: 25px;
  color: white;
  filter: drop-shadow(1px 1px 1px black);

}
